USE [master]
GO
/****** Object:  Database [MTUSocial1]    Script Date: 2/23/2026 6:59:36 PM ******/
CREATE DATABASE [MTUSocial1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MTUSocial1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MTUSocial1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MTUSocial1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MTUSocial1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MTUSocial1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MTUSocial1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendships]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendships](
	[FriendshipId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FriendId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FriendshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[LikeId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[RelatedId] [int] NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[SenderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[VideoUrl] [nvarchar](500) NULL,
	[Location] [nvarchar](200) NULL,
	[Privacy] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[FileUrl] [nvarchar](255) NULL,
	[FileName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostTags]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTags](
	[PostTagId] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedPosts]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedPosts](
	[SavedPostId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[SavedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_SavedPosts] PRIMARY KEY CLUSTERED 
(
	[SavedPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MediaUrl] [nvarchar](500) NULL,
	[MediaType] [nvarchar](20) NOT NULL,
	[Caption] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryReactions]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryReactions](
	[StoryReactionId] [int] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReactionType] [nvarchar](20) NOT NULL,
	[Emoji] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StoryReactions] PRIMARY KEY CLUSTERED 
(
	[StoryReactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryViews]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryViews](
	[StoryViewId] [int] IDENTITY(1,1) NOT NULL,
	[StoryId] [int] NOT NULL,
	[ViewerId] [int] NOT NULL,
	[ViewedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StoryViews] PRIMARY KEY CLUSTERED 
(
	[StoryViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MSSV] [nvarchar](20) NULL,
	[FullName] [nvarchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[PlaceOfBirth] [nvarchar](200) NULL,
	[Gender] [nvarchar](10) NULL,
	[Class] [nvarchar](50) NULL,
	[Faculty] [nvarchar](100) NULL,
	[Course] [nvarchar](20) NULL,
	[TotalCredits] [int] NULL,
	[GPA] [decimal](3, 2) NULL,
	[IsLinked] [bit] NULL,
	[LinkedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/23/2026 6:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Bio] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[CoverImage] [nvarchar](255) NULL,
	[Location] [nvarchar](100) NULL,
	[Interests] [nvarchar](200) NULL,
	[IsProfileCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260216043540_AddStoryViews', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260222054417_AddStoryReactions', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentId], [PostId], [UserId], [Content], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 1, 3, N'gà', CAST(N'2026-02-16T11:54:55.8928310' AS DateTime2), CAST(N'2026-02-16T11:54:55.8928563' AS DateTime2), 0)
INSERT [dbo].[Comments] ([CommentId], [PostId], [UserId], [Content], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 4, 1, N'cc', CAST(N'2026-02-22T12:47:17.6602370' AS DateTime2), CAST(N'2026-02-22T12:47:17.6602711' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Friendships] ON 

INSERT [dbo].[Friendships] ([FriendshipId], [UserId], [FriendId], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 2, N'accepted', CAST(N'2026-02-16T11:30:43.8943765' AS DateTime2), CAST(N'2026-02-16T11:31:21.6804448' AS DateTime2))
INSERT [dbo].[Friendships] ([FriendshipId], [UserId], [FriendId], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 3, 2, N'accepted', CAST(N'2026-02-16T11:43:37.4653865' AS DateTime2), CAST(N'2026-02-16T11:43:55.0598854' AS DateTime2))
INSERT [dbo].[Friendships] ([FriendshipId], [UserId], [FriendId], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 3, N'accepted', CAST(N'2026-02-21T17:15:16.7391600' AS DateTime2), CAST(N'2026-02-21T17:15:26.5285359' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Friendships] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([LikeId], [PostId], [UserId], [CreatedAt]) VALUES (1, 1, 3, CAST(N'2026-02-21T17:16:52.8169170' AS DateTime2))
INSERT [dbo].[Likes] ([LikeId], [PostId], [UserId], [CreatedAt]) VALUES (2, 2, 2, CAST(N'2026-02-21T17:18:36.9056412' AS DateTime2))
INSERT [dbo].[Likes] ([LikeId], [PostId], [UserId], [CreatedAt]) VALUES (3, 2, 1, CAST(N'2026-02-21T17:18:45.4644163' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [IsRead], [CreatedAt], [IsDeleted], [ImageUrl]) VALUES (1, 3, 2, N'alo', 1, CAST(N'2026-02-22T11:53:38.8933333' AS DateTime2), 0, NULL)
INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [IsRead], [CreatedAt], [IsDeleted], [ImageUrl]) VALUES (2, 2, 3, N'ai vậy', 1, CAST(N'2026-02-22T11:54:00.1880476' AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Type], [Content], [RelatedId], [IsRead], [CreatedAt], [SenderId]) VALUES (1, 2, N'friend_request', N'đã gửi lời mời kết bạn', 1, 1, CAST(N'2026-02-16T11:30:43.9078725' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Type], [Content], [RelatedId], [IsRead], [CreatedAt], [SenderId]) VALUES (2, 1, N'friend_accept', N'đã chấp nhận lời mời kết bạn', 2, 1, CAST(N'2026-02-16T11:31:21.6911489' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Type], [Content], [RelatedId], [IsRead], [CreatedAt], [SenderId]) VALUES (3, 2, N'friend_request', N'đã gửi lời mời kết bạn', 3, 1, CAST(N'2026-02-16T11:43:37.4724998' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostId], [UserId], [Content], [ImageUrl], [VideoUrl], [Location], [Privacy], [CreatedAt], [UpdatedAt], [IsDeleted], [FileUrl], [FileName]) VALUES (1, 1, N'', NULL, NULL, NULL, N'public', CAST(N'2026-02-16T11:30:26.4085101' AS DateTime2), CAST(N'2026-02-16T11:30:26.4085114' AS DateTime2), 0, N'/uploads/files/58a2153d-1997-4899-8216-06758f81e2f6_requirements.txt', N'requirements.txt')
INSERT [dbo].[Posts] ([PostId], [UserId], [Content], [ImageUrl], [VideoUrl], [Location], [Privacy], [CreatedAt], [UpdatedAt], [IsDeleted], [FileUrl], [FileName]) VALUES (2, 3, N'', N'/uploads/images/51e50071-65b5-4c66-93eb-77d88367f586.jpg', NULL, NULL, N'public', CAST(N'2026-02-21T17:18:28.2357322' AS DateTime2), CAST(N'2026-02-21T17:18:28.2357331' AS DateTime2), 0, NULL, NULL)
INSERT [dbo].[Posts] ([PostId], [UserId], [Content], [ImageUrl], [VideoUrl], [Location], [Privacy], [CreatedAt], [UpdatedAt], [IsDeleted], [FileUrl], [FileName]) VALUES (3, 3, N'não các vàng', NULL, NULL, NULL, N'public', CAST(N'2026-02-22T11:56:42.9983306' AS DateTime2), CAST(N'2026-02-22T11:56:53.6859384' AS DateTime2), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedPosts] ON 

INSERT [dbo].[SavedPosts] ([SavedPostId], [UserId], [PostId], [SavedAt]) VALUES (1, 2, 1, CAST(N'2026-02-16T11:41:58.597' AS DateTime))
INSERT [dbo].[SavedPosts] ([SavedPostId], [UserId], [PostId], [SavedAt]) VALUES (2, 3, 1, CAST(N'2026-02-21T17:16:49.700' AS DateTime))
INSERT [dbo].[SavedPosts] ([SavedPostId], [UserId], [PostId], [SavedAt]) VALUES (3, 4, 4, CAST(N'2026-02-23T18:45:38.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[SavedPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Stories] ON 

INSERT [dbo].[Stories] ([StoryId], [UserId], [MediaUrl], [MediaType], [Caption], [CreatedAt], [ExpiresAt], [ViewCount], [IsActive]) VALUES (1, 2, N'/uploads/stories/76f0cd02-f897-43d4-8427-f47d591c6b9f.png', N'image', NULL, CAST(N'2026-02-16T11:31:50.633' AS DateTime), CAST(N'2026-02-17T11:31:50.633' AS DateTime), 6, 1)
INSERT [dbo].[Stories] ([StoryId], [UserId], [MediaUrl], [MediaType], [Caption], [CreatedAt], [ExpiresAt], [ViewCount], [IsActive]) VALUES (2, 3, N'/uploads/stories/1c5b93a0-fc58-4703-b243-a92f10b73e27.jpg', N'image', NULL, CAST(N'2026-02-21T17:14:49.770' AS DateTime), CAST(N'2026-02-22T17:14:49.770' AS DateTime), 2, 1)
INSERT [dbo].[Stories] ([StoryId], [UserId], [MediaUrl], [MediaType], [Caption], [CreatedAt], [ExpiresAt], [ViewCount], [IsActive]) VALUES (3, 1, N'/uploads/stories/b8ae96e9-f6f8-401f-83a4-5978f7c6152c.png', N'image', NULL, CAST(N'2026-02-21T17:17:21.933' AS DateTime), CAST(N'2026-02-22T17:17:21.933' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Stories] OFF
GO
SET IDENTITY_INSERT [dbo].[StoryReactions] ON 

INSERT [dbo].[StoryReactions] ([StoryReactionId], [StoryId], [UserId], [ReactionType], [Emoji], [CreatedAt]) VALUES (1, 3, 3, N'heart', N'❤️', CAST(N'2026-02-22T12:46:09.4791804' AS DateTime2))
INSERT [dbo].[StoryReactions] ([StoryReactionId], [StoryId], [UserId], [ReactionType], [Emoji], [CreatedAt]) VALUES (2, 2, 1, N'laugh', N'😂', CAST(N'2026-02-22T12:46:22.4238378' AS DateTime2))
INSERT [dbo].[StoryReactions] ([StoryReactionId], [StoryId], [UserId], [ReactionType], [Emoji], [CreatedAt]) VALUES (3, 4, 2, N'wow', N'😮', CAST(N'2026-02-23T18:15:04.3366948' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StoryReactions] OFF
GO
SET IDENTITY_INSERT [dbo].[StoryViews] ON 

INSERT [dbo].[StoryViews] ([StoryViewId], [StoryId], [ViewerId], [ViewedAt]) VALUES (1, 1, 1, CAST(N'2026-02-16T11:39:32.8009585' AS DateTime2))
INSERT [dbo].[StoryViews] ([StoryViewId], [StoryId], [ViewerId], [ViewedAt]) VALUES (2, 1, 3, CAST(N'2026-02-16T11:44:00.1988464' AS DateTime2))
INSERT [dbo].[StoryViews] ([StoryViewId], [StoryId], [ViewerId], [ViewedAt]) VALUES (3, 2, 2, CAST(N'2026-02-21T17:15:54.2113739' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StoryViews] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [UserId], [MSSV], [FullName], [DateOfBirth], [PlaceOfBirth], [Gender], [Class], [Faculty], [Course], [TotalCredits], [GPA], [IsLinked], [LinkedAt]) VALUES (1, 3, N'MTU000003', NULL, CAST(N'2001-02-01' AS Date), NULL, N'Khác', N'KP22', NULL, NULL, 0, CAST(0.00 AS Decimal(3, 2)), 1, CAST(N'2026-02-16T11:43:23.1760416' AS DateTime2))
INSERT [dbo].[Students] ([StudentId], [UserId], [MSSV], [FullName], [DateOfBirth], [PlaceOfBirth], [Gender], [Class], [Faculty], [Course], [TotalCredits], [GPA], [IsLinked], [LinkedAt]) VALUES (2, 4, N'MTU000004', NULL, CAST(N'2004-09-09' AS Date), NULL, N'Nam', N'KP22', N'Ky thuat phan mem', NULL, 0, CAST(0.00 AS Decimal(3, 2)), 1, CAST(N'2026-02-23T16:45:44.7001425' AS DateTime2))
INSERT [dbo].[Students] ([StudentId], [UserId], [MSSV], [FullName], [DateOfBirth], [PlaceOfBirth], [Gender], [Class], [Faculty], [Course], [TotalCredits], [GPA], [IsLinked], [LinkedAt]) VALUES (3, 6, N'MTU000006', NULL, CAST(N'1989-12-09' AS Date), NULL, N'Nam', N'KP22', N'Ky thuat phan mem', NULL, 0, CAST(0.00 AS Decimal(3, 2)), 1, CAST(N'2026-02-23T17:11:40.7179083' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [FirstName], [LastName], [Avatar], [Bio], [CreatedAt], [UpdatedAt], [IsActive], [CoverImage], [Location], [Interests], [IsProfileCompleted]) VALUES (2, N'ad2', N'ad2@mtu.edu.vn', N'$2a$11$F4A9KqzDkGIyH.OHEQU.6O4hOrJt9KWj8ZUoJQHjxfLw3/angn6QG', N'Ad2', N'a', N'/uploads/avatars/avatar_30_f91719f3-9b9f-4a46-96a3-3b0008c7187c.jpg', N'a', CAST(N'2026-01-27T07:24:53.9299752' AS DateTime2), CAST(N'2026-01-27T07:31:58.4727823' AS DateTime2), 1, NULL, N'Vĩnh Long', N'Âm nhạc', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Friendsh__3DA43A150B27D332]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[Friendships] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[FriendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Likes__7B6AECDD53415B32]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[Likes] ADD UNIQUE NONCLUSTERED 
(
	[PostId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PostTags__7C45AF83F11EFA8E]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[PostTags] ADD UNIQUE NONCLUSTERED 
(
	[PostId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryReactions_StoryId_UserId]    Script Date: 2/23/2026 6:59:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StoryReactions_StoryId_UserId] ON [dbo].[StoryReactions]
(
	[StoryId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryReactions_UserId]    Script Date: 2/23/2026 6:59:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_StoryReactions_UserId] ON [dbo].[StoryReactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryViews_StoryId_ViewerId]    Script Date: 2/23/2026 6:59:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StoryViews_StoryId_ViewerId] ON [dbo].[StoryViews]
(
	[StoryId] ASC,
	[ViewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryViews_ViewerId]    Script Date: 2/23/2026 6:59:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_StoryViews_ViewerId] ON [dbo].[StoryViews]
(
	[ViewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__6CB3B7F8FAD4C2E4]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tags__BDE0FD1D3E50C3A2]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[Tags] ADD UNIQUE NONCLUSTERED 
(
	[TagName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E49C371267]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534229AD5FB]    Script Date: 2/23/2026 6:59:36 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Friendships] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Friendships] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Friendships] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Likes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ('public') FOR [Privacy]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SavedPosts] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT ('image') FOR [MediaType]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [TotalCredits]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0.00)) FOR [GPA]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [IsLinked]
GO
ALTER TABLE [dbo].[Tags] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsProfileCompleted]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD FOREIGN KEY([FriendId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD FOREIGN KEY([FriendId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_SenderId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedPosts]  WITH CHECK ADD  CONSTRAINT [FK_SavedPosts_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([PostId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SavedPosts] CHECK CONSTRAINT [FK_SavedPosts_Posts]
GO
ALTER TABLE [dbo].[SavedPosts]  WITH CHECK ADD  CONSTRAINT [FK_SavedPosts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SavedPosts] CHECK CONSTRAINT [FK_SavedPosts_Users]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_Users]
GO
ALTER TABLE [dbo].[StoryReactions]  WITH CHECK ADD  CONSTRAINT [FK_StoryReactions_Stories_StoryId] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StoryReactions] CHECK CONSTRAINT [FK_StoryReactions_Stories_StoryId]
GO
ALTER TABLE [dbo].[StoryReactions]  WITH CHECK ADD  CONSTRAINT [FK_StoryReactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StoryReactions] CHECK CONSTRAINT [FK_StoryReactions_Users_UserId]
GO
ALTER TABLE [dbo].[StoryViews]  WITH CHECK ADD  CONSTRAINT [FK_StoryViews_Stories_StoryId] FOREIGN KEY([StoryId])
REFERENCES [dbo].[Stories] ([StoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StoryViews] CHECK CONSTRAINT [FK_StoryViews_Stories_StoryId]
GO
ALTER TABLE [dbo].[StoryViews]  WITH CHECK ADD  CONSTRAINT [FK_StoryViews_Users_ViewerId] FOREIGN KEY([ViewerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StoryViews] CHECK CONSTRAINT [FK_StoryViews_Users_ViewerId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
USE [master]
GO
